body {
    background-color: black;
    color: white;
    font-family: 'Turret Road', cursive;
    text-align: center;
    text-decoration: none;
    
}

* {
    padding: 0;
}

h1{
    font-size: 6em;
}

li {
    list-style: none;
    margin: 40px;
    font-size: 1.5em;
}

a {
    transition: all 0.5s;
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
    cursor: pointer;
}

#container {
    margin-top: 40vh;
}